*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 100%;
}

body{
    font-family: "Lato", sans-serif;
}

.debug{
    border: 1px solid black;
}

.d-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.d-none{
    display:none;
}

.centered{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.text-center{
    text-align: center;
}

.justify-between{
    justify-content: space-between;
}

.nowrap{
    flex-wrap: nowrap;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
   width: 100%;
}

.container{
    width: 100%;
    margin: 0 auto;
}

i {

}

button{
  text-align: center;
}


@media (max-width: 992px) {

}

@media (max-width: 542px) {

}