*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    /*background: linear-gradient(
    to top,
    #d9dbd6 0%,
    #d9dbd6 50%,
    #009788 50%,
    #009788 100%);*/
    background-color: azure;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.container{
    max-width: 100%;
}

#boolzapp-container{
    width: calc(100%/1.25);
    height: 95vh;
    background-color: white;
}

#boolzapp-container .container:first-child{
    width: 30%;
    height: 100%;
}

#boolzapp-container .container:last-child{
    width: 70%;
    height: 100%;
}

.debug{
    border: 1px solid black;
}

.d-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.d-none{
    display:none;
}

.centered{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.text-center{
    text-align: center;
}

.justify-between{
    justify-content: space-between;
}

.nowrap{
    flex-wrap: nowrap;
}

.row{
    display: flex;

}

.col{
   width: 100%;
}

.container{
    width: 100%;
    margin: 0 auto;
}

i {

}

button{
  text-align: center;
}

.user-info{
    height: 70px;
}

.user-info i{
    color: #b1b1b1;
}

.desktop-notifies{
    height: 80px;
    background-color: #8ddafc;
}

.chat-textbox{
    height: 70px;
    background-color: #f3eeea;
}

@media (max-width: 992px) {

}

@media (max-width: 542px) {

}