*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    background: linear-gradient(
    to bottom,
    #009688 0%,
    #009688 15%,
    #d9dbd6 15%,
    #d9dbd6 100%);
    background-color: azure;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

/*UNIVERSAL CLASSES*/

.container{
    max-width: 100%;
}

.debug{
    border: 1px solid black;
}

.d-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.d-none{
    display:none;
}

.centered{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.text-center{
    text-align: center;
}

.justify-between{
    justify-content: space-between;
}

.nowrap{
    flex-wrap: nowrap;
}

.row{
    display: flex;

}

.col{
   width: 100%;
}

.container{
    width: 100%;
    margin: 0 auto;
}

i {
    text-align: center;
}

button{
  text-align: center;
}
.underlined{
    text-decoration: underline;
}

.gray-text{
    color: #b1b1b1;
}

/*INTERACTIVE SCREEN DEFINITION*/

#boolzapp-container{
    width: calc(100%/1.25);
    height: 95vh;
    background-color: white;
}

#boolzapp-container .container:first-child{
    width: 30%;
    height: 100%;
}

#boolzapp-container .container:last-child{
    width: 70%;
    height: 100%;
}

/* SPECIFIC CLASSES*/

/*USER INFO*/
.user-info{
    height: 70px;
}

.user-info i{
    color: #b1b1b1;
    margin-right: 20px;
    font-size: x-large;
}

.desktop-notifies{
    height: 80px;
    background-color: #8ddafc;
    align-items: center;
}

.mute-notifies{
    color: #8ddafc;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: auto;
    align-self: center;
    font-size: x-large;
    line-height: 50px;
}

.pro-pic img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
}

#chats{
    background-color: #fafafa;
}

.searchbar{
    height: 35px;
    width: 95%;
    color: #b1b1b1;
    background-color: white;
    border: 1px solid #b1b1b1;
    margin: auto;
}

.searchbar i{
    margin-left: 10px;
    margin-right: 10px;
}

input[type=text]{
    height: 100%;
    border: none;
}

#closed-chats{
    font-size: x-small;
    overflow: scroll;
}

.closed-chat{
    height: 80px;
    align-items: center;
}

.closed-chat h4{
    margin-bottom: 5px;
}

.message-received-time{
    color: #b1b1b1;
    align-self: baseline;
    margin-right: 10px;
    margin-top: 20px;
}

.chat-textbox{
    height: 70px;
    background-color: #f3eeea;
}

.received-text{
    color: #b1b1b1;
}

@media (max-width: 992px) {

}

@media (max-width: 542px) {

}